.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
}

.blogItem {
  margin: 15px 0;
}

.blogItem h3 {
  cursor: pointer;
}

.container {
  padding: 0 22rem;
}

.btn {
  color: white;
  background: rgb(71, 70, 70);
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  margin-bottom: 8px;
}

.btn:hover {
  color: black;
  background: rgb(105, 104, 104);
}



@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 14rem;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    padding: 0 8rem;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0 2rem;
  }
}

